
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<center>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    <div id="search_form" class="search_top">
        <h2>Start your job search</h2>
        <form action="#" method="post">
            <input type="text" name="Enter Keyword(s)" placeholder="Enter Keyword(s)" required="">
            <input class="email" name="Location" type="text" placeholder="Location" required="">
            <select id="country12" onchange="change_country(this.value)" class="frm-field required">
                <option value="null"> Select Category</option>
                <option value="city">Banking</option>
                <option value="city">Finance</option>
                <option value="city">It</option>
                <option value="city">Specialists</option>

            </select>
            <input type="submit" value="Find Jobs">
            <div class="clearfix"></div>
        </form>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</center>

